body{
    margin: 0;
    padding: 0;
    
}

.container{
    width: 100%;
    height: 100vh;
    background-color: teal;
    position: relative;
}

.main{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    position: relative;
    background-color: red ;
    animation: square 6s infinite   running; 
    /* margin:  100px auto; */
}

@keyframes square{
    0%{
        background-color: red;
        left: 200px;
        top: 100px;
        animation-delay: 30s;
    }
    25%{
        background-color: orange;
        left: 80%;
        top: 100px;
        border-radius: 30% 30%;
        animation-delay: 5s;
    }
    50%{
        background-color: lime;
        left: 80%;
        top: 70vh;
        border-radius: 50%;
        animation-delay: 2s;
        

    }
    75%{
        background-color: peru;
        left: 200px;
        top: 70vh;
        animation-delay: 2s;
        
    }
    100%{
        background-color: rgb(55, 158, 226) ;
        left: 200px;
        top: 100px;
        
        
    }
}